<%- include("../partials/header") %>

    <%- include("../partials/navbar")%>
        <div class="center">
            <h1>F1 2022 Drivers</h1>
            <table class="pure-table pure-table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Nationality</th>
                        <th>Date of birth</th>
                        <th>Wikipedia page</th>
                    </tr>

                </thead>
                <tbody>
                    <% for(var i=0; i < drivers.MRData.DriverTable.Drivers.length ; i++ ){ %>

                        <tr>
                            <td>
                                <%=drivers.MRData.DriverTable.Drivers[i].givenName + " " +
                                    drivers.MRData.DriverTable.Drivers[i].familyName%>
                            </td>
                            <td>
                                <%=drivers.MRData.DriverTable.Drivers[i].nationality %>
                            </td>
                            <td>
                                <%=drivers.MRData.DriverTable.Drivers[i].dateOfBirth %>
                            </td>
                            <td style="text-align: center;">
                                <a href="<%=drivers.MRData.DriverTable.Drivers[i].url %>">Link</a>
                            </td>

                        </tr>

                        <% }; %>
                </tbody>
            </table>
        </div>
        <%- include("../partials/footer")%>